{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/fullpagecenter/twig_bm_product_notifications.html.twig #}
<div class="well">        
    <h4 class="text-info">{{ constant('MODULE_BOXES_PRODUCT_NOTIFICATIONS_TITLE') }}</h4>
      <ul class="nav nav-list">
        {{ data | raw }}
      </ul>
    </div>
<hr>