{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/fullpagecenter/twig_bm_informations.html.twig #}
<div class="span3" id="bm-informations">
   <h4 class="text-info"><i class="icon-fa-external-link"></i> {{ constant('MODULE_BOXES_INFORMATION_BOX_TITLE') }}</h4>
      <ul class="unstyled">          
        {% for link in data %}
              <li><span class="icon-fa-stack"><i class="icon-fa-check-empty icon-fa-stack-base muted"></i><i class="{{ link['icon'] }}"></i></span><a class="muted" href="{{ link('info',link['link']) | raw }}">  {{ link['label'] }}</a></li>
        {% endfor %}
      </ul>
</div>