{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/fullpagecenter/twig_bm_templates.html.twig #}
<h4 class="text-info"><i class="icon-fa-magic"></i> {{ constant('MODULE_BOXES_TEMPLATES_BOX_TITLE') }}</h4>
{{ data | raw }}   


