{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/products/view/template/classic/not_found.html.twig #}
{% extends "base.html.twig" %}
{% block appcontent %}
<div id="bodyContent" class="span{{ GridContentWidth}}">
    <div class="contentContainer">
  <div class="contentText">
    {{ constant('TEXT_PRODUCT_NOT_FOUND') }}
  </div>
    </div>
</div>
{% endblock %}
