{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_currencies.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_CURRENCIES_TITLE') }}</li>
<li>
<div id="box-currencies-classic">
{{ data | raw }}
</div>
<script>$("#cur").removeClass("hidden");</script>
</li>