{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_languages.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_LANGUAGES_TITLE') }}</li>
<li>
<div id="box-languages-classic">
{{ data | raw }}
<script>$("#lang").removeClass("hidden");</script>
</div>
</li>