{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_social.html.twig #}
<li class="nav-header">{{ constant('TWIG_MODULE_BOXES_SOCIAL_BOX_TITLE') }}</li>
<li>
<ul class="nav nav-list">
{% for link in data %}
<li><a href="{{ link['link'] }}" target="_blank"><i class="{{ link['icon'] }}"></i>{{ link['label'] }}</a></li>
{% endfor %}
</ul>
</li>