{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_currencies.html.twig #}
<div class="media">
    <span class="pull-left">
        <i class="icon-fa-money text-info"></i>
    </span>    
    <h4 class="media-heading text-info">{{ constant('MODULE_BOXES_CURRENCIES_TITLE') }}</h4>
</div>
<div style="margin-left:25px"> 
{{ data | raw }}
</div>
<script>$("#cur").removeClass("hidden");</script>