{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_product_notifications.html.twig #}
<div class="media">
    <span class="pull-left">
        <i class="icon-fa-tag text-info"></i>
    </span>
    <div class="media-body">        
    <h4 class="media-heading text-info">{{ title }}</h4>
      <ul class="nav nav-list">
        {{ data | raw }}
      </ul>
    </div>
</div>