{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_product_notifications.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_PRODUCT_NOTIFICATIONS_TITLE') }}</li>
<li>
<ul class="nav nav-list text-center">
{{ data | raw }}
</ul>
</li>