{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_best_sellers.html.twig #}
{% if data|length > 0 %}
<li class="nav-header">{{ constant('MODULE_BOXES_BEST_SELLERS_TITLE') }}</li>
<li>
    <ul class="nav nav-list">
{% for bseller in data %}
              <li><a href="{{ link('products', ['id=',bseller['products_id']]|join) | raw }}">{{ bseller['products_name'] }}</a></li>
{% endfor %}              
      </ul>
</li>
{% endif %}