{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_shopping_cart.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_SHOPPING_CART_BOX_TITLE') }}</li>
<li>
<ul class="nav nav-list">
{% if data is null %}
{{ constant('MODULE_BOXES_SHOPPING_CART_BOX_CART_EMPTY') | raw }}
{% else %}
{{ data | raw }}
{% endif %}             
</ul>
</li>