{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_categories.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_CATEGORIES_TITLE') }}</li>
<li>
    <ul class="nav nav-list">
{{ data | raw }}
</ul>
</li>