{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_templates.html.twig #}
<div class="media">
    <span class="pull-left">
        <i class="icon-fa-magic text-info"></i>
    </span>    
    <h4 class="media-heading text-info">{{ constant('MODULE_BOXES_TEMPLATES_BOX_TITLE') }}</h4>
</div>
<div style="margin-left:25px"> 
{{ data | raw }}
</div>

<script>
$('.tp').click(function() { window.location = getQuery(window.location.href, "template", $(this).attr("id"))})
function getQuery (uri, key, value) {
 var re = new RegExp("([?|&])" + key + "=.*?(&|#|$)", "i");
   if (uri.match(re)) {
    return uri.replace(re, '$1' + key + "=" + value + '$2');
  } else {
    var hash =  '';
    var separator = uri.indexOf('?') !== -1 ? "&" : "?";
    if( uri.indexOf('#') !== -1 ){
      hash = uri.replace(/.*#/, '#');
      uri = uri.replace(/#.*/, '');
    }
  return uri + separator + key + "=" + value + hash;
  }
}
</script>
