{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_informations.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_INFORMATION_BOX_TITLE') }}</li>
<li>
<ul class="nav nav-list">
{% for link in data %}
<li><a href="{{ link('info', link['link']) | raw }}">{{ link['label'] }}</a></li>
{% endfor %}
</ul>
</li>