{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_templates.html.twig #}
<div class="media">
    <span class="pull-left">
        <i class="icon-fa-list text-info"></i>
    </span>
    <div class="media-body">
    <h4 class="media-heading text-info">{{ constant('MODULE_BOXES_TEMPLATES_BOX_TITLE') }}</h4>

    {{ data | raw }}
    
    </div>
</div>
