{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/fullpage/twig_bm_currencies.html.twig #}
<h4 class="media-heading muted"><i class="icon-fa-money muted"></i> {{ constant('MODULE_BOXES_CURRENCIES_TITLE') }}</h4>
{{ data | raw }}
<script>$("#cur").removeClass("hidden");</script>
