{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/fullpage/twig_bm_templates.html.twig #}
<div class="span4 pull-right" id="bm-template">
    <h4 class="media-heading muted"><i class="icon-fa-magic muted"></i> {{ constant('MODULE_BOXES_TEMPLATES_BOX_TITLE') }}</h4>       
      {{ data | raw }}     
</div>