{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/fullpage/twig_bm_languages.html.twig #}
<h4 class="media-heading muted"><i class="icon-fa-globe muted"></i> {{ constant('MODULE_BOXES_LANGUAGES_TITLE') }}</h4>
{{ data | raw }}
<script>$("#lang").removeClass("hidden");</script>
