{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/products/view/template/classic/modules/products_gallery.html.twig #}
{% macro simple_image(gallery_data,gallery_size,product_image,product_name) %}
{% if gallery_data != null %}
<div id="LightboxProductInfo" class="lightbox hide fade" role="dialog" aria-hidden="true">
<div class="lightbox-header">
<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
</div>
<div class="lightbox-content">
{% if gallery_data|length == 1 %}
    {{ image([constant('DIR_WS_IMAGES'),gallery_data[0]['image']]|join, '', '', '') | raw}}
<div class="lightbox-caption"><p>{{ product_name }}</p></div>    
{% else %}  
    {{ image([constant('DIR_WS_IMAGES'),gallery_data]|join, '', '', '') | raw}}
<div class="lightbox-caption"><p>{{ product_name }}</p></div>    
{% endif %} 
</div>
</div>
<div class="pull-right">
{% if gallery_data|length == 1 %}     
<a data-toggle="lightbox" href="#LightboxProductInfo"><img src="{{ [constant('DIR_WS_IMAGES'),product_image]|join }}" alt="" itemprop="image"></a>
<h5>click to enlarge</h5>
{% else %}
<img class="img-polaroid" src="{{ [constant('DIR_WS_IMAGES'),gallery_data]|join }}" alt="" itemprop="image">
{% endif %}
</div>
{% endif %}
{% endmacro %}