{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/index/view/template/fullpagecenter/main.html.twig #}
{% extends "base.html.twig" %}
{% block appcontent %}
<div class="container">
    
{{ modulefeatureproducts(35) | raw}}    

</div>
<div class="row-fluid">
<ul class="thumbnails">
{% for boxe in boxes %}
{% if boxe.boxe != null and boxe.boxe == 'twig_bm_best_sellers' or boxe.boxe == 'twig_bm_specials' or boxe.boxe == 'twig_bm_whats_new' %}
{% include [boxe.boxe, TwigExtension]|join with{'data': boxe.data, 'limit' : 5, withphoto : true } %}
{% endif %}
{% endfor %}
</ul>
</div>
{% endblock %}
