{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/index/view/template/fullpagecenter/main.html.twig #}
{% extends "base.html.twig" %}
{% block appcontent %}
<div class="container">
{% include 'twig_products_features.html.twig' %}
</div>
{% endblock %}
